alabaster==0.7.12
anyio==3.3.4
asgiref==3.4.1
asttokens==2.0.5
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cycler==0.11.0
dacite==1.6.0
dataframe==0.2.1.3
devtools==0.8.0
dnspython==2.1.0
docutils==0.17.1
email-validator==1.1.3
executing==0.8.2
fastapi==0.70.0
fonttools==4.28.1
future==0.18.2
h11==0.12.0
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
jellyfish==0.8.8
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.5.0
mpmath==1.2.1
networkx==2.6.3
nose==1.3.7
numpy==1.21.3
packaging==21.2
pandas==1.3.4
Pillow==8.4.0
pluggy==1.0.0
py==1.11.0
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2021.3
regex==2021.10.21
req==1.0.0
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.1
segtok==1.5.10
setuptools-scm==6.3.2
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.2.1
Sphinx==4.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.16.0
sympy==1.9
tabulate==0.8.9
threadpoolctl==3.0.0
tk==0.1.0
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
yake==0.4.8
