alabaster==0.7.12
anyio==3.3.4
asgiref==3.4.1
asttokens==2.0.5
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.10.0
bs4==0.0.1
CacheControl==0.12.10
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
cssselect==1.1.0
cycler==0.11.0
dacite==1.6.0
dataframe==0.2.1.3
devtools==0.8.0
dnspython==2.1.0
docutils==0.17.1
email-validator==1.1.3
executing==0.8.2
fastapi==0.70.0
fire==0.4.0
fonttools==4.28.1
future==0.18.2
google-trans-new==1.1.9
googletrans==4.0.0rc1
gTTS==2.2.3
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.11.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imagesize==1.3.0
iniconfig==1.1.1
jellyfish==0.8.8
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
langdetect==1.0.9
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.0
mpmath==1.2.1
msgpack==1.0.3
networkx==2.6.3
nose==1.3.7
numpy==1.21.3
packaging==21.2
pandas==1.3.4
parse==1.19.0
pep517==0.12.0
Pillow==8.4.0
pip-tools==6.4.0
pluggy==1.0.0
py==1.11.0
pycld2==0.41
pydantic==1.8.2
pydub==0.25.1
Pygments==2.10.0
pyparsing==2.4.7
pyquery==1.4.3
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2021.3
regex==2021.10.21
req==1.0.0
requests==2.26.0
rfc3986==1.5.0
scikit-learn==1.0.1
scipy==1.7.1
segtok==1.5.10
setuptools-scm==6.3.2
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.2.1
Sphinx==4.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.16.0
sympy==1.9
tabulate==0.8.9
-e git+ssh://git@git.unicaen.fr/francois.ledoyen/tagthunder.git@8eb45ad6038b234edea16e92db65cd1c0d9c8b2f#egg=tagthunder
termcolor==1.1.0
threadpoolctl==3.0.0
tk==0.1.0
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
w3lib==1.22.0
webencodings==0.5.1
yake==0.4.8
